/* Cart container styles */
.cart-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
    margin-bottom: 150px;
}

.cart-items {
    flex: 2;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.cart-summary {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Cart item styles */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cart-item-image-container {
    flex: 0 0 100px;
}

.cart-item-image {
    width: 90px;
    height: auto;
}

.cart-item-name {
    flex: 1;
    margin-left: 15px;
}

.cart-item-price, 
.cart-item-quantity, 
.cart-item-remove {
    margin-left: 15px;
}

.qty-btn {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.qty-input {
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remove-btn {
    background-color: red;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn i {
    color: white;
}

.cart-divider {
    margin: 15px 0;
    border: 1px solid #eee;
}

/* Summary styles */
.summary-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.summary-value {
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #0056b3;
}

/* General styles */
.cart-title {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-empty-msg {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    height: 390px;
}
