.home-container {
    background-image: url('../../images/home.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: -5.5%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.home-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    margin-left: 120px;
    padding: 20px;
    margin-top: 50px;
    position: relative; 
}

.cart {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    position: fixed; 
    top: 110px; 
    right: 70px; 
    z-index: 1000; 
}

.cart i {
    color: orangered;
    font-size: 45px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}




.home-title{
    /* color:#262d27; */
    color: rgba(3,38,44,255);
    font-size: 70px;
    margin-bottom: 10px;
    
}

.home-text-1{
    width: 260px;
    /* background-color:#262d27; */
    background-color:rgba(3,38,44,255);
    font-size: 20px;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    /* opacity: 0.9; */
}

.home-text-2{
    width: 60%;
    color: black;
    /* font-size: 20px; */
    margin-bottom: 50px;
}

.order-button{
    width: 170px;
    /* background-color: red;   */
    background-color: rgb(43, 147, 43);
    border: 1px solid rgb(43, 147, 43);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: whitesmoke;
    border: 1px solid rgb(43, 147, 43);
    color: rgb(43, 147, 43);
}

.home-container-2{
    width: 100%;
    height: 450px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-2-item{
    width: 240px;
    height: 270px;
    border:3px solid whitesmoke;
    border-radius: 2px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
}

.icon{
    width: 60px;
    height: 60px;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: green;
    background-color: whitesmoke;
}

.icon-1{
    width: 80px;
    height: 80px;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.home-about{
    width: 100%;
    height: 650px;
    background-image: url('../../images/about.jpg');
    background-position: center;
    background-size: cover;
    justify-content: left;
    align-items: center;
    display: flex;
    padding: 90px;
}

.about-containt{
    width: 40%;
}

.home-products{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.home-products h1 {
  margin-bottom: 10px;
}

.home-products p {
  margin-bottom: 30px;
  text-align: center;
  max-width: 800px;
}

.products{
    height: 330px;
}

.category-links{
    color: black;
    text-decoration: none;
}


/* Carousel */
.carousel-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.products {
  display: flex;
  gap: 20px;
  overflow: hidden;
  flex: 1;
}

.container-2-item {
  width: 240px;
  height: 270px;
  border: 3px solid whitesmoke;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  background-color: #fdfdfd;
  text-align: center;
}

.product-img img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name {
  margin-top: 10px;
  font-weight: 600;
}

.category-links {
  color: black;
  text-decoration: none;
}

.carousel-arrow {
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: all 0.2s ease;
}

.carousel-arrow:hover {
  background-color: #43a047;
}

.product-img {
    display: flex;
    justify-content: center; /* horizontalno centriranje */
    align-items: center;     /* vertikalno centriranje */
    width: 100%;
    height: 170px;           /* ili visinu koju želiš za karticu */
    overflow: hidden;        /* da ne izlazi van */
}

.product-img img {
    width: 100%;
    height: auto;
    object-fit: contain;     /* slika neće biti isečena */
}


/* ===== RESPONSIVE FIXES ===== */

/* TABLETI (max širina 992px) */
@media (max-width: 992px) {
  .home-content {
    width: 70%;
    margin-left: 40px;
  }

  .home-title {
    font-size: 55px;
  }

  .home-text-1 {
    font-size: 18px;
  }

  .home-text-2 {
    width: 80%;
    font-size: 18px;
  }

  .order-button {
    width: 160px;
  }

  .home-container-2 {
    flex-wrap: wrap;
    height: auto;
    padding: 40px 10px;
  }

  .container-2-item {
    margin: 10px;
  }

  .about-containt {
    width: 70%;
  }

  .carousel-wrapper {
    flex-wrap: wrap;
  }

  .products {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* TELEFONI (max širina 600px) */
@media (max-width: 600px) {
  .home-container {
    align-items: flex-start;
    padding: 20px;
  }

  .home-content {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .home-title {
    font-size: 36px;
  }

  .home-text-1 {
    font-size: 16px;
    width: fit-content;
  }

  .home-text-2 {
    width: 100%;
    font-size: 16px;
  }

  .order-button {
    width: 100%;
    font-size: 18px;
  }

  .home-container-2 {
    flex-direction: column;
    height: auto;
  }

  .container-2-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .home-about {
    padding: 40px 20px;
  }

  .about-containt {
    width: 100%;
  }

  .carousel-arrow {
    margin: 10px 0;
  }

  .products {
    flex-wrap: wrap;
    gap: 15px;
  }

  .product-img img {
    width: 120px;
  }

  .cart {
    width: 50px;
    height: 50px;
    top: 20px;
    right: 10px;
  }

  .cart i {
    font-size: 28px;
  }

  .home-products {
    padding: 10px;
  }

}
