.position {
  height: 450px;
  padding-top: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 800px;
  height: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
}

.profile-card {
  background-color: #f9f9f9; 
  border-radius: 8px;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-header h2 {
  font-size: 2rem;
  color: #333;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.avatar-section {
  text-align: center;
  flex: 1;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 40px;

}

.profile-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ddd;
  image-rendering: auto; 
}

.edit-profile-btn {
  margin-top: 20px;
}

.user-details-column {
  flex: 2;
  text-align: left;
  padding: 20px;
}

.user-details h4 {
  font-size: 1.2rem;
  color: #333;
}

.user-details p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  margin-right: 10px;
}

.btn-danger:hover {
  background-color: #c82333;
}
