.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 10px;
  width: 100%; 
}

.search-container input {
  width: 100%;       
  max-width: 300px;  
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.search-container input:focus {
  border-color: #046b1f;
  box-shadow: 0 0 5px rgba(4, 107, 31, 0.5);
}

.search-container img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-container img:hover {
  transform: scale(1.2);
}


@media (max-width: 600px) {
  .search-container {
    gap: 8px;
  }

  .search-container input {
    font-size: 14px;
    height: 35px;
    padding: 0 10px;
  }

  .search-container img {
    width: 20px;
    height: 20px;
  }
}
