.update-password-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Pozadina postavljena na belo */
}

.update-password-card {
    background-color: #f9f9f9; /* Pozadina kartice postavljena na sivo */
    padding: 30px; /* Unutrašnji razmak */
    border-radius: 8px; /* Zaobljeni ivice */
}

.update-password-card h1 {
    text-align: center; /* Centriranje naslova */
    color: #333; /* Boja teksta */
}

.update-password-form-group {
    margin-bottom: 15px; /* Razmak između polja */
}

.update-password-form-group input {
    width: 100%; /* Širina input polja */
    padding: 10px; /* Unutrašnji razmak */
    border: 1px solid #ccc; /* Granica */
    border-radius: 5px; /* Zaobljeni ivice */
}

.update-password-btn {
    background-color: #218838; /* Tamnija boja dugmeta */
    color: #fff; /* Boja teksta dugmeta */
    padding: 10px 20px; /* Unutrašnji razmak */
    border: none; /* Bez granice */
    border-radius: 5px; /* Zaobljeni ivice */
    cursor: pointer; /* Kursor prilikom prelaska miša */
    width: 100%; /* Širina dugmeta */
}

.update-password-btn:hover {
    background-color: #28a745; /* Svetlija boja na hover */
}

.error-message {
    color: red; /* Boja poruke o grešci */
    /* text-align: center; Centriranje poruke */
}

@media (max-width: 768px) {
    .update-password-container {
        padding: 10px; /* Unutrašnji razmak na manjim ekranima */
    }
}
