.update-profile-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.update-profile-card {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
}

.update-profile-header {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.update-profile-form-group {
    margin-bottom: 15px;
}

.update-profile-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.update-profile-form-group input[type="text"],
.update-profile-form-group input[type="email"],
.update-profile-form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-profile-form-group input[type="file"] {
    padding: 5px;
}

.update-profile-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.update-profile-avatar img {
    border-radius: 50%;
    margin-right: 10px;
}

.update-profile-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.update-profile-button:hover {
    background-color: #218838;
}

.update-profile-avatar-upload {
    margin-bottom: 1rem;
  }
  
  .update-profile-avatar-container {
    display: flex;
    align-items: center;
  }
  
  .update-profile-avatar-preview {
    margin-right: 1rem;
  }
  
  .update-profile-avatar-image-preview {
    border-radius: 50%;
    width: 50px; /* ili druga dimenzija po želji */
    height: 50px; /* ili druga dimenzija po želji */
  }
  
  .update-profile-custom-file-upload {
    position: relative;
  }
  
  .update-profile-custom-file-input-upload {
    display: none; /* Da se sakrije standardni input */
  }
  
  .update-profile-custom-file-label-upload {
    cursor: pointer;
    background-color: #f8f9fa; /* svetla pozadina */
    border: 1px solid #ced4da; /* granica */
    padding: 0.5rem 1rem; /* unutrašnji razmak */
    border-radius: 0.25rem; /* zaobljenost */
    transition: background-color 0.3s;
  }
  
  .update-profile-custom-file-label-upload:hover {
    background-color: #e2e6ea; /* tamnija pozadina na hover */
  }
  
.avatar_upload{
    font-weight: bold;
}

@media (max-width: 768px) {
    .update-profile-container {
        padding: 10px;
    }
}

