.new-product-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: white;
}

.new-product-card {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
}

.new-product-header {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.new-product-form {
    display: flex;
    flex-direction: column;
}

.new-product-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.new-product-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.new-product-form-group input,
.new-product-form-group select,
.new-product-form-group textarea,
.custom-file-input-upload {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.new-product-form-group textarea {
    resize: none;
}

.new-product-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.new-product-button:hover {
    background-color: #218838;
    color: white;
    border: 1px solid #218838;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}

.image-preview-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.image-preview {
    width: 200px; 
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: contain;
}
