.update-product-title {
    font-size: 30px;
}

.update-product-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.update-product-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.update-product-form-wrapper {
    margin: 0 auto;
}

.update-product-form-container {
    display: flex;
    flex-direction: column;
}

.update-product-form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

 .update-product-form-group label {
    font-weight: bold;
    margin-right: 10px; 
    width: 150px;
}

.custom-file-label{
    width: 340px;
    cursor: pointer;
}

.update-product-form-group-image-preview{
    width: 115px;
}

.update-product-form-group input[type="text"],
.update-product-form-group input[type="number"],
.update-product-form-group textarea,
.update-product-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.update-product-form-group textarea {
    resize: none;
}

.update-product-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 40px;
}

.update-product-button:hover {
    border: 1px solid #4CAF50;
    color: #4CAF50;
    background-color: white;
}


.error-message {
    color: red;
    margin-bottom: 10px;
}

.update-top{
    margin-top: 50px;
}