
.userslist-page-container {
    display: flex;
    min-height: 67vh;
}

.userslist-sidebar-container {
    width: 20%;
}

.userslist-content-container {
    width: 80%;
    padding: 20px;
}

.userslist-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.userslist-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.userslist-table thead {
    background-color: #f2f2f2;
}

.userslist-table th, .userslist-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.userslist-table tbody tr {
    background-color: #fff;
}

.userslist-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.userslist-edit-btn {
    background-color: #007bff;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userslist-edit-btn:hover {
    background-color: #0056b3;
}

.userslist-delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userslist-delete-btn:hover {
    background-color: #c82333;
}
