.navbar {
  background-color: rgba(3,38,44,255);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}

.navbar-container {
  background-color: rgba(3,38,44,255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  width: 1500px;
}

.navbar-logo {
  color: #fff;
  font-weight: 800;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
}

.user-dropdown{
  height:80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.dropbtn {
  border: none;
  cursor: pointer;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-size: 18px;
  color: white;
  background-color: rgba(3,38,44,255);
  padding: 0;          
  height: 100%;          
  line-height: normal;
}

.dropbtn:hover {
  background-color: rgba(3,38,44,255);
  color: white;
  font-size: 18px;
  border: none;
}

.avatar-nav {
  display: flex;
  align-items: center;
}

.avatar-nav img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.dropbtn span {
  display: inline-block;
  vertical-align: middle;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(3,38,44,255);
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;  
  left: 0;
}

.dropdown-content .dropdown-item {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  
  .dropdown-content {
    min-width: 100%;
    position: relative;
  }
  
  .dropbtn {
    height: auto;   
    padding: 10px 12px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
